* {
  border: 1px solid red;
}

body {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.5;  /*      */
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 10;
  align-items: center;
}

#logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 10px;
}

#logo img {
  height: 50px;
  background-color: black;
}

nav a {
  color: seashell;
  weight: bold;
}

nav span {
  padding-left: 20px;
  padding-right: 10px;
}
