* {
  border: 1px solid red;
}

/* Get rid of default margins */
h1, h2, h3, h4, h5 {
  margin: 10px 0px;
}

body {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.5;  /* Spec calls for .9 but that isn't close to the image, .5 seems much closer and looks better */
  text-align: center;
  width: 100%;
  justify-content: center;
}

header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 10;
  align-items: center;
  background-color: black;
}

#logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 10px;
  background-color: black;
}

#logo img {
  height: 50px;
  background-color: black;
}

nav a {
  color: seashell;
  weight: bold;
}

nav span {
  padding-left: 20px;
  padding-right: 10px;
}

/* Center all major divs */
#mission, #month, #locations, #contact {
  margin: 0 auto;
}

/* Mission section */
#mission {
  margin-top: 70px;
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  align-items: center;
  display: flex;
}

#mission #text {
  background-color: black;
  align-items: center;
  width: 1200px;
}

/* Tea of the Month */
#month {
  width: 1000px;
  align-items: center;
  margin: 60px auto;
}

#teas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tea {

}

.tea img {
  width: 300px;
  height: 200px;
}

/* Locations */
#locations {
  width: 1200px;
  height: 500px;
  background-image: url("../images/img-locations-background.jpg");
}

#sites {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.location {
  width: 300px;
  margin: 0px 20px;
  background-color: black;
}

.location h3, .location h4 {
  margin: 20px 0px;
  opacity: 1;
}

/* Contact */
#contact {
  height: 200px;
}

/* Copyright */
#copyright {
  text-align: left;
  margin-left: 20px;
}
